{% extends 'base.html' %}

{% block title %}
My Loans
{% endblock %}

{% block content %}

<h1 class="page-title">
    📚 My Loans
</h1>

<div class="books-container">

{% for loan in loans %}

<div class="book-card">

    <h3>{{ loan.book.title }}</h3>

    <p>
        <strong>Author:</strong>
        {{ loan.book.author }}
    </p>

    <p>
        <strong>Borrow Date:</strong>
        {{ loan.borrow_date|date:"d M Y" }}
    </p>

    <a href="{% url 'return_book' loan.id %}"
       style="
            display:block;
            width:100%;
            text-align:center;
            padding:12px;
            margin-top:20px;
            background:#dc3545;
            color:white;
            text-decoration:none;
            border-radius:10px;
            font-weight:bold;
       ">

        🔄 Return Book

    </a>

</div>

{% empty %}

<div class="no-books">

    <h3>

        You don't have any borrowed books.

    </h3>

</div>

{% endfor %}

</div>

{% endblock %}