{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="account-page">

    <div class="account-card">

        <h2 class="account-title">
            Login
        </h2>

        <form method="POST">

            {% csrf_token %}

            <div class="input-group mb-3">
               <span class="input-group-text">
                  <i class="fas fa-user"></i>
                </span>
                {{ form.username }}
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">
                <i class="fas fa-lock"></i>
               </span>
               {{ form.password }}
            </div>

            <button type="submit" class="btn btn-primary w-100">
                Login
            </button>

        </form>

        <div class="account-links mt-3">

            Don't have an account?

            <a href="{% url 'register' %}">
                Register
            </a>

        </div>

    </div>

</div>

{% endblock %}