{% extends "base.html" %}
{% load static %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div class="account-page">

    <div class="account-card">

        <h2>Create Account</h2>

        <form method="POST" id="registerForm">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">
                Register
            </button>

        </form>

        <p>
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
        </p>

    </div>

</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock %}