{% extends 'base.html' %}

{% block title %}
Book Catalog
{% endblock %}

{% block content %}

<h1 class="page-title">
    📚 Book Catalog
</h1>

<div class="search-box">

    <form method="GET">

        <input type="text" name="q" value="{{ request.GET.q }}" placeholder="🔍 Search by title or author...">

        <button type="submit">
            Search
        </button>

    </form>

</div>

<div class="books-container">

    {% for book in books %}

    <div class="book-card">

        <h3>

            <a href="{% url 'book_detail' book.id %}">
                {{ book.title }}
            </a>

        </h3>

        <p>
            <strong>Author:</strong>
            {{ book.author }}
        </p>

        <p>
            <strong>Category:</strong>
            {{ book.category }}
        </p>

        <p>
            <strong>Available:</strong>
            {{ book.available_copies }}/{{ book.total_copies }}
        </p>





        {% if book.available_copies > 0 %}

        <button style="
width:100%;
padding:12px;
margin-top:18px;
background:#24408e;
color:white;
border:none;
border-radius:10px;
font-size:16px;
font-weight:bold;
cursor:pointer;
transition:.3s;
" onmouseover="this.style.background='#18306d'" onmouseout="this.style.background='#24408e'">
            📖 Borrow
        </button>

        {% else %}

        <button disabled style="
width:100%;
padding:12px;
margin-top:18px;
background:#9e9e9e;
color:white;
border:none;
border-radius:10px;
font-size:16px;
font-weight:bold;
cursor:not-allowed;
">
            Unavailable
        </button>

        {% endif %}

    </div>

    {% empty %}

    <div class="no-books">

        <h3>
            No books found.
        </h3>

    </div>

    {% endfor %}

</div>

{% endblock %}